<?xml version="1.0" encoding="UTF-8"?>
<configuration>  
  	<include resource="org/springframework/boot/logging/logback/base.xml"/>
    <contextName>logback</contextName>
    <logger name="org.springframework.web" level="error"/>
    <logger name="org.springboot.sample" level="error" />
    <logger name="com.alibaba.druid" level="error" />
    
    <!-- 文件输出格式 -->  
    <property name="PATTERN" value="%-12(%d{yyyy-MM-dd HH:mm:ss.SSS}) |-%-5level [%thread] %c [%L] -| %msg%n" />  
    <!-- test文件路径 -->  
    <property name="LOG_FILE_PATH" value="E:/JavaInstall/Eclipse4.4/workspace/iyunr-pro-sbb/logs" />  
  
    <!-- 开发环境 -->  
<!--     <springProfile name="dev">   -->
    	<!-- 负责写日志的组件节点 appender -->
<!--         <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">   -->
<!--             <encoder>   -->
<!--                 <pattern>${PATTERN}</pattern>   -->
<!--             </encoder>   -->
<!--         </appender>   -->
          
  		<!-- 将>=info的级别都输出到控制台 -->
<!--         <root level="info">   -->
<!--             <appender-ref ref="CONSOLE" />   -->
<!--         </root>   -->
  
        <!--输出sql语句-->
<!--     	<logger name="com.sun" level="debug" /> -->
<!--     </springProfile>   -->
  
    <!-- 测试环境,生产环境 -->  
    <springProfile name="dev,test,prod">  
        <!-- 滚动记录文件，每天产生一个文件 -->  
        <appender name="TEST-FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">  
            <!-- 文件路径 -->  
<!--             <file>${LOG_FILE_PATH}</file>   -->
            <!-- true:日志会被追加到文件末尾，false：清空现有文件，默认是true -->
            <append>true</append>
            <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">  
                <!-- 文件名称 -->  
                <fileNamePattern>${LOG_FILE_PATH}/info.%d{yyyy-MM-dd}.log</fileNamePattern>  
                <!-- 文件最大保存历史数量，30天 -->  
                <MaxHistory>30</MaxHistory>  
            </rollingPolicy> 
            <!-- 格式化 encoder对记录事件进行格式化。负责两件事，一是把日志信息转换成字节数组，二是把字节数组写入到输出流。--> 
            <!-- <encoder> 
　　　　　　　　　　　　<pattern>%-4relative [%thread] %-5level %logger{35} - %msg%n</pattern> 
　　　　　　　　　</encoder> --> 
            <layout class="ch.qos.logback.classic.PatternLayout">  
                <pattern>${PATTERN}</pattern>  
            </layout>  
            <!--日志文件最大的大小-->
			<triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
				<MaxFileSize>10MB</MaxFileSize>
			</triggeringPolicy>
        </appender>  
          
        <!--logger：用来设置某一个包或者是某一个具体类的日志打印级别，输出sql语句-->
    	<logger name="com.sun" level="debug" />
    	
    	<logger name="com.ibatis" level="DEBUG" />
    <logger name="com.ibatis.common.jdbc.SimpleDataSource" level="DEBUG" />
    <logger name="com.ibatis.common.jdbc.ScriptRunner" level="DEBUG" />
    <logger name="com.ibatis.sqlmap.engine.impl.SqlMapClientDelegate" level="DEBUG" />

    <logger name="java.sql.Connection" level="DEBUG" />
    <logger name="java.sql.Statement" level="DEBUG" />
    <logger name="java.sql.PreparedStatement" level="DEBUG" />
    <logger name="com.iyunr.mapper" level="DEBUG"></logger>
    	
        <root level="info">  
            <appender-ref ref="TEST-FILE" />  
        </root>  
    </springProfile>  
    
    <!-- 参考地址：http://www.cnblogs.com/warking/p/5710303.html -->
</configuration>
